@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = null;

    var antiMsg = TempData["AntiforgeryExpired"] as string;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - @Configuration["AppConfigurationSettings:SystemName"]</title>
    <!-- CSS files -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/css/auth.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        @RenderBody()
        @Html.Partial("_LoadingPartial")
    </div>
    <!-- Libs JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/script.js"></script>
    @* @await Component.InvokeAsync("NToastNotify") *@
    @await Component.InvokeAsync("Toast")
    @if (!string.IsNullOrEmpty(antiMsg))
    {
        <script>
            toastr.warning("@(antiMsg)");
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>